<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="pcaxis">
      <sectionGroup name="paxiom">
        <section name="localization" type="PCAxis.Paxiom.Configuration.Sections.LocalizationSection, PCAxis.Core, Version=1.1.0.0, Culture=neutral, PublicKeyToken=c0a818bde8f95c30"/>
        <section name="grouping" type="PCAxis.Paxiom.Configuration.Sections.GroupingSection, PCAxis.Core, Version=1.1.0.0, Culture=neutral, PublicKeyToken=c0a818bde8f95c30"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <pcaxis>
    <paxiom>
      <localization filespath=".\Resources\Languages" basefile="pxlang"/>
      <grouping filespath=".\Resources\Aggregations"/>
    </paxiom>
  </pcaxis>
  <appSettings>
    <add key="databasesConfigFile" value=".\Resources\DbConfig\databases.config"/>
    <add key="dbconfigFile" value=".\Resources\DbConfig\SqlDb.Config"/>
    <add key="defaultLanguage" value="sl"/>
    <add key="batchApplicationPath" value="\\path_to_batch-program\PCAxis.Batch.exe"/>
    <add key="maxCells" value="10000000"/>

    <!-- If database menu cache shall be used or not-->
    <add key="databaseMenuCacheEnabled" value="True"/>
    
    <!-- Interval in hours for when the database menu cache will be automatically refreshed-->
    <add key="databaseMenuCacheRefreshInterval" value="48"/>

    <!-- Folder for global filter-->
    <add key="globalFilter" value="\\path_to_global_filter_folder" />

    <!-- If strict aggregation check shall be performed or not -->
    <add key="strictAggregationCheck" value="True" />
    
    <!-- Store PX-model in temp-file if number of cells exceeds this value -->
    <add key="MaxCellsInMemory" value="200000000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
